.idea
__pycache__
notebooks/.ipynb_checkpoints/
*.val
*.dat
documentation/build/
documentation/source/files/examples/.ipynb_checkpoints/
documentation/source/files/examples/*_files/
documentation/source/files/examples/*.rst
